*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

#menu{
    height: 50px;
    background:  #797a7e;
}

#menuInner{
    width: 1050px;
    margin: 0 auto;
    padding: 0 50px;
}

#menuInner > ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menuInner > ul > li{
    line-height: 50px;
    color: white;
    font-family: "NanumGothic";
    font-weight: bold;
}

#header{
    height: 350px;
    background: #f7f2e7;
}

#headerInner{
    width: 1050px;
    height: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 0 20px;
}

#loginContainer{
    width: 220px;
    height: 170px;
    background: white;
    padding: 20px;
}

#mainInner{
    width: 1050px;
    height: 700px;
    /* height: calc(100% - 500px); */
    margin: 0 auto;
    padding: 50px 20px;
}

footer{
    height: 100px;
    background: #797a7e;
}


/* @font-face { 
    font-family: 'NanumGothic';
    src: url('../../font/나눔고딕L.TTF');
} */
